
body{
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
    font-family: "Segoe UI", sans-serif;
}



.navbar{
    background:#3a1c7198 !important;
    padding: 12px 25px;
}

.navbar-brand{

    font-size: 24px;
    font-weight: bold;
}

.nav-link{
    
    margin-left: 18px;
    font-size: 16px;
}



.page-title{
    text-align: center;
    margin: 25px 0;
    font-size: 32px;
    font-weight: bold;
    color: #000;
}



.form-box{
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,.12);
    margin-top: 25px;
}



.form-label{
    font-weight: 600;
    color: #333;
}



.form-control,
.form-select{
    border-radius: 8px;
    border: 1px solid #bbb;
    padding: 10px;
}

.form-control:focus,
.form-select:focus{
    border-color: #000;
    box-shadow: none;
}



input[type="radio"]{
    margin-left: 8px;
    margin-right: 5px;
}



.btn-success{
    background: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 28px;
    font-weight: bold;
}

.btn-success:hover{
    background: #222;
}





.small-box{
    max-width: 550px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,.12);
}



